body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-list {
    box-shadow: 1px 1px 4px black;
    margin: 10px;
}

.todo {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    position: relative;
}

.todo input {
    width: 100%;
    border: none;
}

.todo-delete {
    position: absolute;
    right: 5px;
}
